$black-color: #000;
$white-color: #fff;
$primary-color: #263238;
$secondary-color: #8f95a5;
$light-color: #f5f5f5;
$primary-hover: #8516b4;
$primary-active: #076384;

// fonts

$text-font: "Poppins", "Arial", sans-serif;
