@mixin buttons ($padding){
    background-color: $primary-color;
    border-radius: 5px;
    padding: 1.5rem $padding 1.6rem;
    font-family: $text-font;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
    color: $light-color;
    display: inline-flex;

    &:hover{
        background-color: $primary-hover;
    }
    &:active{
        background-color: $primary-active;
    }
}